body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #333 32%, #e0e0e0 32% 78%);
}

.container {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 33%;
    position: absolute;
    top: 10%;
    z-index: 1;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    text-align: left;
}

p {
    color: white;
    width: 188px;
    height: 26px;
    top: 237px;
    left: 352px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.form-names {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    gap: 10px;
}

.submit-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}